*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #122428;
}
/*header and navigation*/
header{
    color: white;
    display: flex;
    flex-direction: row;
    position: sticky;
}
.main-header{
    position: absolute;
}
.main-nav a{
    display: none;
    text-decoration: none;
    color: white;
    margin-left: 1vw;
    font-size: 1.5vw;
    margin-top: 1vw;
}
.main-nav, #home, #aboutus, #contact{
    margin-left: 2vw;
}
.main-nav a:hover{
    text-decoration: underline;
}
#menu-checkbox:checked ~ .main-nav a{
    display: block;
    justify-content: center;
}
#menu-checkbox{
    display: none;
}
.main-header{
 text-shadow: 10px 10px 10px rgb(0, 0, 0);
 font-size: 6vw;
 margin-top: 1vw;
 margin-left: 2vw;
}
i{
    margin-left: 80vw;
    margin-top: 4vw;
}
@media(min-width:600px){
    /*header and navigation*/
    .hamburger, #menu-checkbox, i{
    display: none;
}
.main-nav, #home, #aboutus, #contact{
    display: flex;
    flex-direction: row;
}
.main-nav{
    margin-left: 75vw;
    margin-top: 2vw;
}
}