*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #122428;
}
/*header and navigation*/
header{
    color: white;
    display: flex;
    flex-direction: row;
}
.main-header{
    position: absolute;
}
#home, #contact, #aboutus{
    display: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.63);
    margin-left: 1vw;
    font-size: 1.5vw;
    margin-top: 1vw;
}
.main-nav, #home, #aboutus, #contact{
    margin-left: 2vw;
}
#home:hover{
    color: white;
}
#aboutus:hover{
    color: white;
}
#contact:hover{
    color: white;
}

#menu-checkbox:checked ~ .main-nav a{
    display: block;
    justify-content: center;
}
#menu-checkbox{
    display: none;
}
.main-header{
 text-shadow: 10px 10px 10px rgb(0, 0, 0);
 font-size: 6vw;
 margin-top: 1vw;
 margin-left: 2vw;
}
i{
    margin-left: 80vw;
    margin-top: 4vw;
}
/*Hero-section*/
 .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../photos/Norhern\ lights.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80vw;
    height: 50vw;
    border-radius: 5vw;
    margin-top: 12.5vw;
    margin-left: 10vw;
   box-shadow: 0 0 200px 5px rgba(44, 255, 2, 0.459); /* The glow effect */
}
.hero-heading{
     text-shadow: 10px 10px 10px rgb(0, 0, 0);
    color: White;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    font-size: 4vw;
}
.hero-text{
    color: white;
    background-color: #00c54c42;
    width: 40vw;
    border-radius: 2vw;
    padding: 3vw;
    font-size: 1.1vw;
    margin-bottom: 8vw;
      box-shadow: 0 0 200px 1px rgba(44, 255, 2, 0.5); /* The glow effect */
}
.explore-medium-button{
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    margin-left: 13vw; 
}
.explore-medium-button:hover{
    background-color: #6f00ff;
     box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */
}
/*learn more section*/
.lean-more-heading{
    color: white;
    font-size: 4vw;
    margin-left: 10vw;
    margin-top: 5vw;
}
.learn-more{
    display: flex;
    flex-direction: column;
}
/*cards*/
.cards{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.cosmos{
    background-image: url(../photos/solarsystem.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 75vw;
    border-radius: 10vw;
    margin-top: 2vw;
}
.cosmos-heading{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    color: white;
}
.explore-small-button{
    position: absolute;
    margin-top: 60vw;
    margin-left: 16.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
}
.explore-small-button:hover{
    background-color: #6f00ff;
    box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */
}

.robotics-and-ai{
background-image: url(../photos/RobotsandAI.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 75vw;
    border-radius: 10vw;
    margin-top: 2vw;
}
.robotics-and-ai-heading{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 7.5vw;
}
.biology-and-medicine{
    background-image: url(../photos/Humanbody.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 75vw;
    border-radius: 10vw;
    margin-top: 2vw;
}
.biology-and-medicine-heading{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 7.5vw;
}
.ecology{
    background-image: url(../photos/ecology.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 75vw;
    border-radius: 10vw;
    margin-top: 2vw;
}
.ecology-heading{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5vw;
}
.evolution{
    background-image: url(../photos/evolution.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 75vw;
    border-radius: 10vw;
    margin-top: 2vw;
}
.evolution-heading{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 2vw;
}
/*News section*/
.news-heading{
    font-size: 4vw;
    color:white;
    margin-left: 10vw;
}
.news-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vw;
    width: 75vw;
    margin-left: 10vw;
}
.professor-image, .night-image, .loan-image{
    width: 75vw;
    border-radius: 2vw;
}
.professor-card, .night-card, .loan-card{
    margin-top: 2vw;
    background-color: #00c54c65;
    border-radius: 2vw;
}
.night-heading, .loan-heading, .professor-heading{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4.3vw;
    font-weight: bolder;
}
.night-text, .loan-text, .professor-text{
color: white;
margin-left: 2vw;
margin-right: 2vw;
padding: 5vw;
font-weight: 200;
}
.news-explore-small-button{
    position: absolute;
    margin-top: -6vw;
    margin-left: 25vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
}
.news-explore-small-button:hover{
    background-color: #6f00ff;
    box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */
}
/*Explore section*/
.explore-heading{
    font-size: 4vw;
    color:white;
    margin-left: 10vw;
}
.explore-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vw;
    width: 75vw;
    margin-left: 10vw;
}
.for-kids-image, .for-teachers-image, .for-researchers-image{
    width: 65vw;
    height: 70vw;
    border-radius: 1vw;
    box-shadow: 0 0 20px 2px#122428;
}
.for-kids-card, .for-teachers-card, .for-researchers-card{
    margin-top: 2vw;
    background-color: #00c54c65;
    border-radius: 1vw;
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.for-kids-heading, .for-teachers-heading, .for-researchers-heading{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4.3vw;
    font-weight: bolder;
}
.for-kids-text, .for-teachers-text, .for-researchers-text{
color: white;
margin-left: 2vw;
margin-right: 2vw;
padding: 5vw;
font-weight: 200;
}
.explore-button{
    position: absolute;
    margin-top: -6vw;
    margin-left: 25vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
}
.explore-button:hover{
    background-color: #6f00ff;
    box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */
}
/*visit section*/
.information{
    color: white;
    margin-left: 10vw;
    font-size: 2vw;
    max-width: 35vw;
}
.visit-heading{
    font-size: 3vw;
    margin-left: 10vw;
}
.adress{
    margin-bottom: 5vw;
    font-weight: bolder;
}
.time{
    font-weight: bolder;
}
.contact-button{
    position: absolute;
    margin-top: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
}
.contact-button:hover{
    background-color: #6f00ff;
    box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */
}

.visit-image{
    position: absolute;
    width: 40vw;
    height: 30vw;
    margin-left: 50vw;
    margin-top: -40vw;
}
.extended-information{
    margin-left: 10vw;
    margin-top: 15vw;
    color: white;
    font-size: 2vw;
    max-width: 45vw;
    gap: 1vw;
}
.information-heading{
    font-size: 4vw;
}
.admission-heading, .accessibility-heading, .food-and-drink-heading, .shop-heading{
    font-weight: bolder;
    font-size: 3vw;
    margin-top: -1vw;
}
.admission-text, .accessibility-text, .food-and-drink-text, .shop-text{
    margin-top: -5vw;
    font-weight:100;
}
.museum-image-night{
    position: absolute;
    width: 35vw;
    margin-left: 47.5vw;
    margin-top: -60vw;
}
.map-image{
    width: 80vw;
    height: 40vw;
    border-radius: 10vw;
}
/*footer section*/
footer{
    background-color: #00c54c65;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    margin-top: 5vw;
    color: white;
    margin-left: -2vw;
    margin-right: -1vw;
    margin-bottom: -2vw;
    padding-bottom: 5vw;
}
.left-section{
    margin-left: 10vw;
}
.footer-heading{
    font-size: 4vw;
}
.follow-us{
    margin-top: 5vw;
    font-size: 2.5vw;
    font
}
.icons{
    display: flex;
    flex-direction: row;
}
.instagram, .facebook, .tiktok{
    width: 5vw;
    margin-left: 1vw;
    margin-top: -1vw;
}
.footer-explore-heading{
    font-size: 3vw;
    margin-top: 10vw;
}
.footer-text{
    font-size: 2vw;
}
.explore-button-footer{
    position: absolute;
    margin-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
}
.explore-button-footer:hover{
       background-color: #6f00ff;
    box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */ 
}
.right-section{
    margin-left: 10vw;
    max-width: 40vw;
    margin-right: 10vw;
}
.get-involved{
    font-size: 4vw;
}
.support-heading, .volunteer-heading, .internships-heading{
    font-size: 3vw;
}
.support-text, .volunteer-text, .internships-text{
    font-size: 2vw;
}
/*Desktop version*/
@media(min-width:600px){
    /*header and navigation*/
    .hamburger, #menu-checkbox, i{
    display: none;
}
.main-nav, #home, #aboutus, #contact{
    display: flex;
    flex-direction: row;
    font-size: 1.3vw;
}
.main-nav{
    margin-left: 75vw;
    margin-top: 2vw;
}
/*cards*/
.cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    height: 10vw;
    margin-left: 10vw;
    margin-bottom: 25vw;
}
.explore-small-button{
    position: absolute;
    margin-top: 30vw;
    margin-left: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2vw;
}
.cosmos{
    height: 35vw;
    width: 15vw;
    border-radius: 2vw;
}
.cosmos-heading, .robotics-and-ai-heading, .biology-and-medicine-heading, .ecology-heading, .evolution-heading{
font-size: 2vw;
margin-left: 1vw;
}
.robotics-and-ai{
    height: 35vw;
    width: 15vw;
    border-radius: 2vw;
}

.biology-and-medicine{
    height: 35vw;
    width: 15vw;
    border-radius: 2vw;
}

.ecology{
    height: 35vw;
    width: 15vw;
    border-radius: 2vw;
}

.evolution{
    height: 35vw;
    width: 15vw;
    border-radius: 2vw;
}
/*News section*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    width: 20vw;
    height: 5vw;
    margin-left: 10vw;
    margin-bottom: 75vw;
}
.professor-image, .night-image, .loan-image{
    width: 27.5vw ;
    height: 25vw;
}
.professor-card, .night-card, .loan-card{
    height: 65vw;
}
.night-heading, .loan-heading, .professor-heading{
    font-size: 2.5vw;
    display: flex;
margin-left: 3vw;
}
.night-text, .loan-text, .professor-text{
    margin-left: -1vw;
    margin-top: -7.5vw;
    margin-bottom: 5vw;
    font-size: 1.5vw;
}
.news-explore-small-button{
    position: absolute;
    margin-left: 5vw;
}
/*explore section*/
.for-kids-card, .for-researchers-card, .for-teachers-card{
    display: flex;
    flex-direction: row;
    height: 50vw;
}
.for-kids-image, .for-researchers-image, .for-teachers-image{
height: 40vw;
width: 30vw;
}
.desktop-column{
    display: flex;
    flex-direction: column;
}
.for-kids-heading, .for-researchers-heading, .for-teachers-heading{
    margin-top: -2.5vw;
    margin-left: 10vw;
}
.for-kids-text, .for-researchers-text, .for-teachers-text{
    font-size: 2vw;
    margin-top: -10vw;
}
.explore-button{
    position:absolute;
    margin-top: 42.5vw;
    margin-left: 7.5vw;
}
}