*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #122428;
}
/*header and navigation*/
header{
    color: white;
    display: flex;
    flex-direction: row;
    position: sticky;
}
.main-header{
    position: absolute;
}
.main-nav a{
    display: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.63);
    margin-left: 1vw;
    font-size: 1.5vw;
    margin-top: 1vw;
}
.main-nav, #home, #aboutus, #contact{
    margin-left: 2vw;
}
.main-nav a:hover{
    color: white;
}
#menu-checkbox:checked ~ .main-nav a{
    display: block;
    justify-content: center;
}
#menu-checkbox{
    display: none;
}
.main-header{
 text-shadow: 10px 10px 10px rgb(0, 0, 0);
 font-size: 6vw;
 margin-top: 1vw;
 margin-left: 2vw;
}
i{
    margin-left: 80vw;
    margin-top: 4vw;
}
/*Hero-section*/
section, .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../photos/Norhern\ lights.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80vw;
    height: 50vw;
    border-radius: 10vw;
    margin-top: 5vw;
    margin-left: 10vw;
}
.hero-heading{
    color: White;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    font-size: 4vw;
}
.hero-text{
    display: flex;
    justify-content: center;
    background-color: #00c54c42;
    width: 40vw;
    border-radius: 10vw;
    padding: 3vw;
    font-size: 1.1vw;
    margin-bottom: 8vw;
}
.explore-medium-button{
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    margin-left: 13vw; 
}
.explore-medium-button:hover{
    background-color: #6f00ff;
}
@media(min-width:600px){
    /*header and navigation*/
    .hamburger, #menu-checkbox, i{
    display: none;
}
.main-nav, #home, #aboutus, #contact{
    display: flex;
    flex-direction: row;
}
.main-nav{
    margin-left: 75vw;
    margin-top: 2vw;
}
}