.linking-header{
    color: white;
}
.news-heading-newspage{
    font-size: 4vw;
    color:white;
    margin-left: 10vw;
}
.news-cards-newspage{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vw;
    width: 75vw;
    margin-left: 10vw;
}
.professor-image-newspage, .night-image-newspage, .loan-image-newspage{
    width: 75vw;
    border-radius: 2vw;
}
.professor-card-newspage, .night-card-newspage, .loan-card-newspage{
    margin-top: 2vw;
    background-color: #00c54c65;
    border-radius: 2vw;
}
.night-heading-newspage, .loan-heading-newspage, .professor-heading-newspage{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4.3vw;
    font-weight: bolder;
}
.night-text-newspage, .loan-text-newspage, .professor-text-newspage{
color: white;
margin-left: 2vw;
margin-right: 2vw;
padding: 5vw;
font-weight: 200;
}
.news-explore-small-button-newspage{
    position: absolute;
    margin-top: -6vw;
    margin-left: 25vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10vw;
    font-size: 2.5vw;
    text-decoration: none; 
    color: white;
    background-color: #6f00ff8e;
}
.news-explore-small-button:hover{
    background-color: #6f00ff;
    box-shadow: 0 0 10px 1px #6f00ff; /* The glow effect */
}
@media (min-width:600px){
    .news-cards-newspage{
        display: flex;
        flex-direction: column;
    }
    .professor-card-newspage, .night-card-newspage, .loan-card-newspage{
        display: flex;
        flex-direction: row;
        height: 50vw;
    }
    .professor-image-newspage, .night-image-newspage, .loan-image-newspage{
        height: 30vw;
        width: 20vw;
        margin-top: 10vw;
        margin-left: 10vw;
    }
    .desktop-column-newspage{
        display: flex;
        flex-direction: column;
    }
    .night-heading-newspage, .loan-heading-newspage, .professor-heading-newspage{
    margin-top: 10vw;
    margin-left: 7.5vw;
    font-size: 3vw;
    margin-bottom: -4vw;
    }
    .night-heading-newspage{
        margin-left: 0vw;
    }
    
    .night-text-newspage, .loan-text-newspage, .professor-text-newspage{
        font-size: 2vw;
        margin-top: 2vw;
    }
    .news-explore-small-button-newspage{
    position:absolute;
    margin-top: 40vw;
    margin-left: 7.5vw;
    }
}